<div class="post">
    <div class="header">
        <div class="profile_photo">
            <img src= <%= user.profile_photo %> alt="">
        </div>
        <div class="username"><%=user.username%></div>
    </div>
    <div class="main">
    </div>

    <div class="footer">
        <div class="like">
            <ion-icon name="heart-outline"></ion-icon>
            <span>0</span>
        </div>
        <ion-icon name="bookmark-outline"></ion-icon>
    </div>
</div>