@font-face {
    font-family: Inter;
    src: url("/font/Inter.ttf");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Inter;
}

:root{
    --white:#fff;
    --dgray: #282828;
    --lgray: #484848;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --black:#151a1f;
    --green:#295739;
    --blue2:#0095f6;
    --orange:#ff6302;
    --bordercolor: #262626;
    --gray2: #363636;
}

.container{
    width: 100%;
}

main{
    width: calc(100% - 350px);
    min-height: 100vh;
    margin-left: 350px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.profileInformations{
    width: 700px;
    height: auto;
    padding-top: 50px;
    display: flex;
    gap: 5px;
}

.profileInformations .profilePhoto{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
}


/* .profileInformations .profilePhoto img{
    width: 100%;
    border-radius: 100%;
    cursor: pointer;
} */

.profileInformations .userInformation{
    width: calc(100% - 200px);
    height: 200px;
}

.usernameAndSettings{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.usernameAndSettings svg{
    width: 30px;
    cursor: pointer;
    height: 30px;
}

.usernameAndSettings span{
    color: var(--white);
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.usernameAndSettings button{
    width: 140px;
    height: 35px;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.follow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
}

.follow span{
    width: 33%;
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.follow .number{
    width: auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.posts{
    width: 720px;
    padding: 20px;
    /* background-color: red; */
    height: auto;
}

.posts .choice{
    border-top: 1px solid var(--bordercolor);
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.choice div{
    width: auto;
    gap: 10px;
    color: var(--white);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-evenly;
}

.choice div svg{
    height: 12px;
}

.post-container{
    width: 100%;
    padding: 30px;
    display: grid;
    place-items: center;
}
.post-container.loadpost{
    grid-gap: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.no-post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.no-post .image{
    height: 62px;
    width: 62px;
    background: url("https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png") no-repeat;
    background-position: -128px -269px;
}

.no-post h1{
    color: var(--white);
}

.no-post span{
    /* width: 100%; */
    text-align: center;
    color: var(--white);
    font-size: 0.8rem;
    padding: 10px;
}
.no-post span#shareFirstPhoto{
    /* width: 100%; */
    text-align: center;
    color: var(--blue2);
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}


.no-post span#shareFirstPhoto:hover{
    color: var(--white);
}

.post{
    height: 200px;
    background-color: red;
}

.uploadPhotoContainer{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}

.uploadPhotoContainer .closer{
    width: 100%;
    height: 100px;
    text-align: end;
    padding:10px 20px;
    font-size: 2em;
    color: var(--white);
}

.uploadPhotoContainer .closer ion-icon{
    cursor: pointer;
}

.uploadPhotoBox{
    width: 700px;
    height: 80vh;
    border-radius: 15px;
    background-color: var(--bordercolor);
    overflow: hidden;
}

.uploadPhotoBox .header{
    width: 100%;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    color: white;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--gray2);
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    color: var(--white);
}

.main input{
    display: none;
}

.main label{
    padding: 8px 30px;
    background-color: var(--blue2);
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
}

.main textarea{
    width: 60%;
    resize: none;
    height: 200px;
    outline: none;
    background-color: var(--bordercolor);
    border: none;
    color: white;
    border: 1px solid var(--gray2);
    border-radius: 15px;
    text-indent: 0.5rem;
    padding: 20px;
}

.main input[type="submit"]{
    display: block;
    background-color: var(--blue2);
    border: none;
    color: white;
    width: 60%;
    outline: none;
    padding: 9px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.user-post{
    width: 100%;
    border-radius: 5px;
    height: 200px;
    cursor: pointer;
}
.addPhoto{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.addPhoto button{
    width: 80%;
    height: 40px;
    background: var(--blue2);
    border: none;
    color: var(--white);
    cursor: pointer;
    border-radius: 15px;
}

.user-post .filter{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: 0.2s;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    gap: 5px;
}
.user-post:hover .filter{
    opacity: 1;
}

.profilePhoto .filter{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition-duration: 0.2s;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.profilePhoto:hover .filter{
    opacity: 1;
}

.ppChange-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: center;
 
}

.ppChange-container .closer{
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    text-align: end;
    color: white;
    font-size: 2em;
}

.ppChange-container .closer ion-icon{
    cursor: pointer;
}

.boxContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ppChange-container .box{
    width: 300px;
    height: auto;
    background-color: var(--bordercolor);
    border-radius: 20px;
}

.ppChange-container .box .header{
    border-bottom:1px solid var(--gray2) ;
    width: 100%;
    padding: 30px;
    /* height: 100px; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ppChange-container .box .main2{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ppChange-container .box .main2 label{
    background-color: transparent;
    color: var(--blue2);
}

.ppChange-container .box .main2 input{
    display: none;
}
.ppChange-container .box .main2 label{
    cursor: pointer;

}



.lds-ring {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .pleaseWaitText{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.1rem;
  }