<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Giriş Yap | Celikstagram </title>
    <link rel="icon" href="/img/logo.png" type="png">
    <link rel="stylesheet" href="/css/login/style.css">
    
</head>
<body>
    <div class="container">

        <div class="phone">
            
        </div>

        <div class="login-form-container">
            <div class="header">
                <a href="/"><img src="/img/celikstagram.png" alt="Celikstagram"></a>
            </div>
            <div class="main">
                <form method="dialog">
                    <input type="text" required name="email" id="txtEmail" placeholder="Email Adresi">
                    <input type="password" required name="password" id="txtPassword" placeholder="Şifre">
                    <input type="submit" name="" id="" value="Giriş Yap">
                    <label for="" id="lblFormAlert"></label>
                </form>

                <div class="orRow">
                    <div></div>
                    <span>YA DA</span>
                    <div></div>
                </div>

                <div class="beRegister">
                    <span>Hesabın Yokmu? <a href="/accounts/register"> Kayıt Ol!</a></span>
                    <a href="/accounts/resetpassword" id="btnForgotMyPassword">Şifreni mi unuttun?</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/login/app.js"></script>
</body>
</html>