<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title> Kayıt Ol | Celikstagram </title>
    <link rel="icon" href="/img/logo.png" type="png">
    <link rel="stylesheet" href="/css/register/style.css">
</head>
<body>
    <div class="container">
        <main>
            <div class="register-container">
                <div class="header">
                    <img src="/img/celikstagram.png" alt="">
                </div>
                <h3>Arkadaşlarının fotoğraf ve videolarını görmek için kaydol.</h3>
                <form action="" method="dialog" >
                    <input type="email" name="email" required placeholder="Email" id="txtEmail">
                    <input type="text" name="fullname" required placeholder="Adı Soyadı" id="txtFullname">
                    <input type="text" name="username" required  placeholder="Kullanıcı Adı" id="txtUsername">
                    <input type="password" name="password" required placeholder="Şifre" id="txtPassword">
                    <p>Hizmetimizi kullanan kişiler senin iletişim bilgilerini Instagram'a yüklemiş olabilir. <a href="https://l.instagram.com/?u=https%3A%2F%2Fwww.facebook.com%2Fhelp%2Finstagram%2F261704639352628&e=AT0opcnCOCrn9Nc8AmUyzlQuGcT0adIWnrJDaFtc93vr3SE4wtaSXMh4X05p-YxcwZJDA_3DYqFj6YP77_ytnbJQ51vbaYfHjhwSdE3XhwlAKY28WrL79UeGXYUF4dyiZpN4GpmCopTEhfhyx_SDvA">Daha Fazla Bilgi Al</a></p>
                    <p>
                        Kaydolarak, <a href="#">Koşullarımızı</a> kabul etmiş olursun. <a href="#">Gizlilik İlkemizde</a> verilerini nasıl topladığımız, kullandığımız ve paylaştığımız hakkında ve <a href="#">Çerezler İlkemizde</a> çerezleri ve benzer teknolojileri nasıl kullandığımız hakkında bilgi alabilirsin.
                    </p>
                    <input type="submit" value="Kayıt Ol" name="" id="">
                    <label for="" id="lblAlert"></label>
                </form>
            </div>

            <div class="alreadymember">
                Hesabın var mı? <a href="/accounts/login">Giriş Yap</a>.
            </div>
        </main>
    </div>
    <script src="/js/register/app.js"></script>
</body>
</html>