<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/resetpassword/style.css">
    <title>Celikstagram | Reset Password</title>
</head>
<body>
    <div class="container">
        <div class="resetpassword-container">
            <div class="header">
                <div class="lock"></div>
                <span>Giriş Yaparken Sorun mu Yaşıyorsun?</span>
                <div class="text">
                    E-posta adresini gir ve hesabına yeniden girebilmen için sana bir bağlantı gönderelim.
                </div>
            </div>
            <div class="main">
                <form  method="dialog" id="formSendCode">
                    <input type="email" name="email" id="txtEmail">
                    <input type="submit" name="" id="">
                    <label for="" id="lblAlert"> </label>
                </form>

                <div class="orRow">
                    <div></div>
                    <span>YA DA</span>
                    <div></div>
                </div>

                <div class="goBack">
                    <a href="/accounts/login">Giriş Ekranına Dön</a>
                </div>
            </div>

        </div>
    </div>

<script src="/js/resetpassword/app.js"></script>
</body>
</html>