:root{
    --white:#fff;
    --dgray: #282828;
    --lgray: #484848;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --black:#151a1f;
    --green:#295739;
    --blue2:#0095f6;
    --orange:#ff6302;
    --red:#ee092d;
    --bordercolor: #262626;
}
nav{
    width: 350px;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left:  0;
    border-right: 1px solid var(--bordercolor);
}

.celikstagram{
    width: calc(100% + 40px);
    padding: 20px;
}

.celikstagram img{
    width: 50%;
}

.menu{
    width: 100%;
    height: 500px;
}

.menu ul li{
    width: 100%;
    padding: 10px;
    padding-left: 20px;
}

.menu ul li a{
    color: var(--white);
    display: flex;
}

.menu ul li a .icon{
    padding: 10px;
    border-radius: 100%;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li a .profile{
    min-width: 45px;
    min-height: 45px;
    border-radius: 100%;
}

.menu ul li a .profile img{
    width: 40px;
    border-radius: 100%;
}
.menu ul li a .text{
    padding: 10px;
    width: 100%;
    line-height: 30px;
}

.menu ul li a.link{
    font-weight: 700;
}