@font-face {
    font-family: Inter;
    src: url("/font/Inter.ttf");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Inter;
}

:root{
    --white:#fff;
    --dgray: #282828;
    --lgray: #484848;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --black:#151a1f;
    --green:#295739;
    --blue2:#0095f6;
    --orange:#ff6302;
    --red:#ee092d;
    --bordercolor: #262626;
}

.container{
    width: 100%;
    min-height: 100vh;
}

main{
    width: calc(100% - 350px);
    min-height: 100vh;
    background-color: #000;
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contents{
    width: 700px;
    height: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.storys{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

.circle{
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid var(--bordercolor);
}

.posts{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#postID{
    display: none;
    z-index: -10000000;
}



