@font-face {
    font-family: Inter;
    src: url("/font/Inter.ttf");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Inter;
}

:root{
    --white:#fff;
    --dgray: #282828;
    --lgray: #484848;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --black:#151a1f;
    --green:#295739;
    --blue2:#0095f6;
    --orange:#ff6302;
    --red:#ee092d;
}

.container{
    width: 100%;
    height: auto;

}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    gap: 20px;
}

.register-container{
    width: 400px;
    /* height: 800px; */
    border-radius: 2px;
    border: 1px solid var(--black2);
}

.register-container .header{
    width: 100%;
    text-align: center;
}

.register-container .header img{
    width: 50%;
}

.register-container h3{
    text-align: center;
    width: 100%;
    padding: 0 50px;
    color: var(--black2);
    font-size: 1em;
}
form{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input{
    width: 100%;
    height: 40px;
    text-indent: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--black2);
    background-color: var(--gray);
    outline: none;
}

form p{
    font-size: 0.75rem;
    color: var(--black2);
}

form p a{
    color: var(--blue2);
}

form p a:hover{
    text-decoration: underline;
}

form input[type="submit"]{
    border: none;
    cursor: pointer;
    height: 35px;
    color: var(--white);
    background-color: var(--blue2);
}

.alreadymember{
    width: 400px;
    text-align: center;
    padding: 30px;
    font-size: .9rem;
    border: 1px solid var(--black2);
}

.alreadymember a{
    color: var(--blue2);
}

.alreadymember a:hover{
    text-decoration: underline;
}

#lblAlert{
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
}